{% extends 'base.html.twig' %} 

{% block title %}Welcome {{ user.email }}!{% endblock %}

{% block stylesheets %}
	<style type="text/css">
	#simplediv{
		background: whitesmoke;
		margin-top: 50px;
		padding: 10px;
	}
	</style>
{% endblock %} 

{% block body %} 
  
<div >
	<div id="simplediv" class="col-md-6 offset-md-3">
	 {# <h3 class="mb-2">Welcome!!</h3> #}
	 <div class="mb-2">
	 	<div><b>Welcome, {{ user.email }}</b></div>
	 	<div>  </div>
	 </div>

	 
	 <div>
	 	<a href="/"> Go home </a>
	 </div>
	</div>
</div> 
{% endblock %}     