{% extends 'base.html.twig' %} 
{% block title %}Welcome!{% endblock %}


{% block body %} 
<div class="jumbotron">
	<div class="container">
		  <h1 class="display-4">Welcome, Guest!</h1>
		  <p class="lead">Welcome to our new web application.</p>
		  <hr class="my-4">
		  <p>What would you like to do today.</p>
		  <a class="btn btn-primary btn-sm" href="/login" role="button">Login</a>
		  <a class="btn btn-primary btn-sm" href="user/add" role="button">Join us</a>
	</div>

</div>

{% endblock %} 