{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
	<style type="text/css">
	#simpleform{
		background: whitesmoke;
		margin-top: 50px;
		padding: 10px;
	}
	</style>
{% endblock %} 

{% block body %} 
  
   <div>
   		<div id="simpleform" class="col-md-4 offset-md-4">
   			<h3 class="mb-2 text-center">Login</h3> 
   			{% if error is not empty %}
	   			<div class="alert alert-danger">
	   				{{ error }}
	   			</div>
   			{% endif %} 
   			
			{{ form_start(form) }}
   			{{ form_widget(form) }}
		    {{ form_end(form) }} 
   		</div>
   </div> 
{% endblock %}     